h1 {
  margin-top: 20px;
  margin-bottom: 50px;
}

h3 {
  font-style: italic;
  text-transform: capitalize;
  margin-top: 20px;
}

.divgrad {
  width: 50%;
  margin: auto;
  padding: 30px;
  margin-bottom: 50px;
  background: linear-gradient(to right, rgba(255,235,200,1), rgba(255,235,200,0));
}

#news {
  margin-top: 50px;
}

.elemList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: solid;
  border-width: thin;
  margin-top: 2%;
  padding-top: 2%;
}

#piatti > .elemList, #menu >.elemList {
  border-color: #EB6864;
}

.elemList > .divbtn {
  margin-right: 3%;
}

.elemList > .divbtn > #rim {
  margin-right: 2%;
}

@media screen and (max-width: 980px) {
  #piatti, #menu {
    width: 100%;
  }

  .elemList > .divbtn {
    flex-direction: column;
  }

  .elemList > .divbtn > #rim {
    margin-right: 0%;
    margin-bottom: 2%;
  }
}

@media screen and (min-width: 550px) and (max-width: 980px) {
  #piatti, #menu, #elemento, #news {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
.divgrad {
    width: 100%;
  }
}
