h1 {
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  border-bottom: solid;
  border-width: thin;
}

#group {
  margin-bottom: 2%;
}

#group>.btn-primary {
  font-size: 16pt;
}
.name {
  text-align: center;
  text-decoration: underline;
  font-size: 18pt;
}

.divOrdine {
  display: flex;
  align-items: center;
  margin: 10px;
  flex-direction: row;
  border-bottom: solid #EB6864;
  padding-bottom: 1%;
  border-width: thin;
}

.divTable {
  width: 30%;
  border: solid #EB6864;
  border-width: thin;
  margin-right: 40px;
}

.prezzo, .qta, .totale, .elimina, .formaggio {
  margin-right: 5%;
}

.rigaFormaggio {
  color: transparent;
}

.divProd {
  margin: auto;
  flex: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.table>tbody>tr>th, .table>tbody>tr>td{
  border: none;
}

.prodotto {
  width: 30%;
  border: solid #EB6864;
  border-width: thin;
  padding: 1%;
  margin-right: 40px;
  text-align: center;
}

.prodprimo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3%;
}

#conferma {
  border-top: solid thin;
  padding-top: 1%;
}

@media screen and (max-width: 760px) {
  .divOrdine {
    flex-direction: column;
  }

  .divTable {
    margin: auto;
    margin-bottom: 1%;
  }

  .divProd {
    margin: auto;
    flex: auto;
    flex-direction: column;
    align-items: center;
  }

  .prezzo, .qta, .totale, .elimina, .formaggio {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .elimina {
    width: auto;
  }

  .prodotto, .divTable {
    margin: auto;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
