.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-group-vertical {
  margin: auto;
}

.btn {
  margin-top: 20%;
  font-size: 30pt;
}

.row {
  margin-top: 5%;
}

#news > div {
  padding-bottom: 2%;
  border-bottom: solid;
  border-width: thin;
}
