h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

h2 {
  font-size: 20pt;
  margin-bottom: 20px;
  font-style: italic;
}

.container {
  margin: auto;
}

#divCheck {
  margin-bottom: 50px;
}

.food {
  display: flex;
  margin: auto;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid;
  border-width: thin;
}

.divInfo, .divAmount {
  margin: auto;
}

.divInfo {
  line-height: 1;
  width: 25%;
}

.vedisconto {
  display: flex;
  flex-direction: row;
}

.insconto {
  margin-right: 3%;
}

.insconto > .fas {
  font-size: 20pt;
}

.divAmount {
  display: flex;
}

.divNum {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  border: solid;
  border-width: thin;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.buttonLess {
  opacity: 0.5;
  cursor: not-allowed;
}

.divbtn {
  margin-top: 2%;
  flex-direction: row;
  justify-content: center;
}

#creaPiatto {
  margin: auto;
}

#btnAdd, #btnRem {
  margin-bottom: 10px;
  font-size: 16pt;
}

#btnRem {
  margin-left: 2%;
  display: none;
}

.pName {
  text-transform: capitalize;
}

#scegliPag, .cambiaPag {
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

#scegliPag>div, .cambiaPag>div {
  flex: 20%;
  display: flex;
  margin: auto;
  align-items: baseline;
}

#scegliPag>.sinistra, .cambiaPag>.sinistra {
  justify-content: flex-start;
}

#scegliPag>.destra, .cambiaPag>.destra {
  justify-content: flex-end;
}

.cambiaPag {
  margin-top: 5%;
}

#scegliPag>div>div , .cambiaPag>div>div {
  margin: auto;
}

#scegliPag>div>#divAv, .cambiaPag>div>#divalcarr {
  width: 15%;
  text-align: right;
  margin-right: 3%;
}

#scegliPag>div>#divInd, .cambiaPag>div>#divaimenu, .cambiaPag>div>#divaipiatti {
  width: 15%;
  margin-left: 3%;
}

#avanti, #indietro, #aiMenu, #alCarrello, #aiPiatti {
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

#avanti, #alCarrello {
  margin-left: 0%;
}

#indietro, #aiMenu, #aiPiatti {
  margin-right: 0%;
}

span {
  margin: auto;
}

@media screen and (max-width: 985px) {
  .container {
    width: 100%;
  }

  #scegliPag>div>#divAv, .cambiaPag>div>#divalcarr {
    width: 30%;
    text-align: right;
    margin-right: auto;
  }

  #scegliPag>div>#divInd, .cambiaPag>div>#divaimenu, .cambiaPag>div>#divaipiatti {
    width: 30%;
    margin-left: auto;
  }

  #scegliPag, .cambiaPag {
    justify-content: space-between;
  }

  #avanti, #indietro, #aiMenu, #alCarrello, #aiPiatti {
    margin: inherit;
  }
}

@media screen and (max-width: 550px) {
  #btnRem {
    margin: inherit;
  }

  #divbtningr {
    flex-direction: column;
  }
}
