body {
  background: linear-gradient(to right, rgba(255,235,200,0), rgba(255,235,200,1));
}

header {
  text-align: center;
  margin-top: 10%;
}

#navimg {
  width: 56px;
  height: 40px;
}

h1, h2, h3, p, div, .btn {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 30pt;
  text-align: center;
}

h2 {
  font-size: 25pt;
  text-align: center;
}

p, div {
  font-size: 14pt;
}

.divbtn {
  display: flex;
}

.modal-footer > .collapse {
  margin: auto;
}

.btn-primary {
  margin: auto;
  margin-top: 1%;
  width: 30%;
  font-size: 20pt;
}

.modal-footer .btn-primary {
  width: auto;
}

.btn-outline-primary:not(:hover) {
  background-color: white;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  margin: 0%;
}

span {
  font-weight: bold;
}

img {
  margin-bottom: 5%;
}

@media screen and (max-width: 760px) {
  .modal-footer {
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
  }

  .btn-primary {
    width: auto;
  }
  .btn-circle {
    width: 30px;
  }
}

@media screen and (max-width: 400px) {
  img {
    width: 90%;
    height: 90%;
  }
}
