h1 {
  font-size: 50pt;
}
.container {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

label {
  margin: 1px;
}

input {
  margin: 1px;
}

.alert {
  display: none;
}

.modal .btn {
  width: auto;
}
